# Veritabanı
*.db
*.sqlite3
*.sqlite
*.sqlite-shm
*.sqlite-wal
data/
dump.rdb

# Ortam değişkenleri
.env

# Python dosyaları
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Sanal ortamlar
venv/
ENV/
env/

# IDE dosyaları
.idea/
.vscode/
*.swp
*.swo

# İşletim sistemi dosyaları
.DS_Store
Thumbs.db

# Next.js
.next/
out/
.vercel

# Node
node_modules/
npm-debug.log*

# Logs
*.log
logs/
tunnel.log
run.log
bot.log

# Geçici / çalışma dosyaları
tmp/
.pytest_cache/
proxies.txt
current